In [3]:
import pandas as pd
data = pd.read_csv('./house_price_time_series.csv', encoding='cp949')
data.head()

,주택그룹코드,광역시도,시군구,가격지수_200301,가격지수_200302,가격지수_200303,가격지수_200304,가격지수_200305,가격지수_200306,가격지수_200307,...,가격지수_201912,가격지수_202001,가격지수_202002,가격지수_202003,가격지수_202004,가격지수_202005,가격지수_202006,가격지수_202007,가격지수_202008,가격지수_202009
0,상가주택(공부상 주택면적 1/2이상),제주,전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101.3,101.4,101.4,101.4,101.2,101.2,101.2,101.8,101.8,101.9
1,상가주택(공부상 주택면적 1/2이상),경남,전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.8,99.8,99.8,99.7,99.6,99.5,99.5,99.5,99.8,99.8
2,상가주택(공부상 주택면적 1/2이상),경북,전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,100.0,100.0,100.0,99.9,99.9,99.9,99.9,99.9
3,상가주택(공부상 주택면적 1/2이상),전남,전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101.3,101.4,101.4,101.4,101.2,101.2,101.2,101.8,101.8,101.9
4,상가주택(공부상 주택면적 1/2이상),전북,전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.8,100.9,100.9,100.9,101.0,101.0,101.1,101.1,101.2,101.4